.sidebar {
   
    border-right: 1px solid cadetblue;
    min-height: 100vh;
    background-color: rgb(62, 60, 60);
    width: 250px;
  }
  
  .sidebar .top {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
  }
  
  .sidebar .top .logo {
    font-size: 20px;
    font-weight: bold;
    color: rgb(204, 203, 211);
    margin-left: 10px;
  }
  
  .sidebar hr {
    height: 0;
    border: 1px solid rgb(47, 199, 204);
  }
  
  .sidebar .center {
    padding-left: 10px;
  }
  
  .sidebar .center ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar .center .title {
    font-size: 15px;
    font-weight: bold;
    color: rgb(236, 245, 245);
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  .sidebar .center li {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    color: rgb(55, 189, 193);
  }
  
  .sidebar .center li:hover {
    background-color: rgb(96, 96, 103); 
  }
  
  .sidebar .center .icon {
    font-size: 30px;
    color: rgb(230, 244, 244);
  }
  
  .sidebar .center .span {
    font-size: 15px;
    font-weight: 600;
    color: rgb(165, 157, 157);
    margin-left: 10px;
  }
  